{{- /* Comments are disabled by default, but if the config has Disqus, enable it */ -}}
{{- if and (not .Params.disableComments) site.DisqusShortname }}
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "{{ .Permalink }}";
        this.page.identifier = "{{ .File.ContentBaseName }}";
    };
    (function() {
        if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
            document.getElementById('disqus_thread').innerHTML = 'Disqus comments not available by default when the website is previewed locally.';
            return;
        }
        var d = document, s = d.createElement('script'); s.async = true;
        s.src = '//' + "{{ site.DisqusShortname }}" + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{- end }}
